@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    @apply bg-gray-900;
  }
  button {
    @apply cursor-pointer outline-none border-none;
  }
  input {
    @apply ring-offset-0 !ring-0;
  }
}

@layer components {
  .pagination-button {
    @apply px-4 py-2 text-white bg-purple-600 rounded disabled:opacity-50 hover:bg-purple-700;
  }

  .back-btn {
    @apply bg-purple-600 hover:bg-purple-700 text-white px-6 py-3 rounded text-sm sm:text-base transition-colors;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-600 rounded-[5px];
}

*::-webkit-scrollbar-thumb {
  @apply bg-purple-600 rounded-2xl;
}
